.Home {
    padding: 0px 0px 30px 0px;
}

.thumbnail{
    padding: 6px;
    margin: 0px;
    border: none;
}

.container {
    padding: 0;
}

@media only screen and (min-width : 768px) {
    .container .custom-container { width: 768px; } 
}

